<%- include('../partials/header') %> 
    <h1>Programming 101</h1>
    <h2>Required Skills</h2>
    <a href="/skills/new">Add a Skill</a>
    <ul>
        <% skills.forEach(function(s) { %>
            <li>
                <a href="/skills/<%= s.id %>">
                    <%= s.skill %>
                </a>
            </li>
            <% }); %>
    </ul>
<%- include('../partials/footer') %> 
    