<%- include('../partials/header') %> 

<form action="/skills" method="POST" autocomplete="off">
    <div class="mb-3">
      <label for="todo" class="form-label">Add a new To-Do</label>
      <input type="text" class="form-control" id="todo" aria-describedby="todoHelp" name="todo">
      <div id="todoHelp" class="form-text">Please enter a todo to be done</div>
    </div>
    <button type="submit" class="btn btn-primary">Save Todo</button>
  </form>

<%- include('../partials/footer') %> 
